<ion-view title="Clients">
	<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    Clients
  </ion-nav-title>

	<ion-content padding class="categories">
		<p><input type="text" ng-model="test" placeholder="Search Here"></p>
	    <ion-list ng-repeat="order in orders | filter : test" >
			<ion-item ui-sref="app.orderform({id:order.id})">
				<p style="position:absolute;right:10px;">
				
				<h2  > {{order.Name}} </h2>
				<p >Price: Rs:{{order.Price}}</p>
				<p >Phone: {{order.Phone}}</p>
				<p >Area: {{order.Area}}</p>
			</ion-item>
        </ion-list>
	</ion-content>
</ion-view>