<ion-view title="Orders">
	<ion-content padding class="categories">
	    <ion-list ng-repeat="order in orders" >
			<ion-item href="#detail/{{order.id}}">
				<p style="position:absolute;right:10px;">
				<a ng-if="order.sent == 0" ng-click="complete(order.id)" class="button button-balanced button-clear icon ion-android-add-circle"></a>
				<a ng-if="order.sent > 0" class="button button-balanced button-clear icon ion-checkmark-circled"></a> 
				</p>
				<h2 ng-click="showProductInfo(order.id)" > {{order.Name}} </h2>
				<p ng-click="showProductInfo(order.id)">Price: Rs:{{order.Price}}</p>
				<p ng-click="showProductInfo(order.id)">Quantity: {{order.Quantity}}</p>
			</ion-item>
        </ion-list>
	</ion-content>
</ion-view>