<ion-view title="Orders Form">
	<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    Order Form
  </ion-nav-title>
    <ion-content padding="'true'" class="has-header">
        <div>
            <p>Total :
                <strong>Rs.{{order.peyment}}</strong>
            </p>
            <p>Pending Bottles :
                <strong>{{order.pending}}</strong>
            </p>
        </div>
		<button ng-click="deliver(item)" class="button button-positive button-block ">Deliver</button>
		<div>
			<div class="list card" >
				<div class="item item-body">
					<div>
						<ion-list>
				            <label class="item item-input">
				                <span class="input-label">Deliver</span>
				                <input ng-model="item.client" type="hidden" placeholder="" value="{{order.id}}">
				                <input ng-model="item.rider" type="hidden" placeholder="" value="{{order.rider}}">
				                <input ng-model="item.deliver" type="number" placeholder="" >
				            </label>
				            <label class="item item-input">
				                <span class="input-label">Received</span>
				                <input ng-model="item.received" type="number" placeholder="">
				            </label>
				            <label class="item item-input">
				                <span class="input-label">Amount</span>
				                <input ng-model="item.amount" type="number" placeholder="">
				            </label>
				            <label class="item item-input">
				                <span class="input-label">Price</span>
				                <input ng-model="item.price" type="number" readonly="" value="{{order.Price * item.deliver}}" placeholder="">
				            </label>
				            <label class="item item-input">
				                <span class="input-label">Date</span>
				                <input ng-model="item.date" type="date" readonly="" value="{{order.date}}" placeholder="">
				            </label>
				            <label class="item item-input">
				                <span class="input-label">Remarks</span>
				                <input ng-model="item.remarks" type="text" placeholder="">
				            </label>
				        </ion-list>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
